@model List<Gamely.Models.Game>
@{
    ViewBag.Title = "Игры";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Игры</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Игра</th>
            <th>Жанр</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@Html.ActionLink(game.Name, "Details", "Games", new { id = game.Id }, null)</td>
                <td>@game.GameGenre.Name</td>
            </tr>

        }
    </tbody>
</table>